.blocHidden { display: none; }

.openButton, .bouton, .fermer-tableau { cursor: pointer;}

.highlightButton { background-color: #FFF; }

#wpof-menu
{
    width: 100%;
    background-color: #DDD;
    font-size: 0.8em;
    padding-left: 2px;
    padding-right: 2px;
}
#wpof-menu ul
{
    margin: 0px;
}
#wpof-menu li
{
    display: inline;
    padding: 4px;
}
#wpof-menu li:hover
{
    background-color: #EEE;
}

.wp-admin #wpof-menu ul
{
    padding: 5px;
    margin-bottom: -2px;
}
.wp-admin #wpof-menu li
{
    padding-bottom: 5px;
}
.wp-admin .highlightButton,
.wp-admin #wpof-tableau
{
    background-color: #FFF;
    padding: 10px 5px;
}

.wp-admin #wpof-menu
{
    font-size: 1em;
}
