/*
 * Feuille de styles pour l'interface admin
 * Plugin : wp-organisme de formation
 */

/* Input texte */
input.long-text
{
	width: 100%;
}

.form-table td
{
    padding: 0;
}

.form-table th
{
    padding: 5px;
    min-width: 25%;
}
